@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --font-size: 16px;
  --background: #faf8f5;
  --foreground: #2c2416;
  --card: #ffffff;
  --card-foreground: #2c2416;
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
--primary: #f97316;
--secondary: #f1a41e;
  --primary-foreground: #ffffff;

  --secondary-foreground: #ffffff;
  --muted: #f5f3f0;
  --muted-foreground: #817d77;
  --accent: #fff3e6;
  --accent-foreground: #2c2416;
  --destructive: #d4183d;
  --destructive-foreground: #ffffff;
  --border: rgba(127, 140, 94, 0.15);
  --input: transparent;
  --input-background: #ffffff;
  --switch-background: #cbced4;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --ring: #e67e22;
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.75rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: #e67e22;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: #e67e22;
  --bright:#ad46ff;
}

.dark {
  --background: #1a1410;
  --foreground: #faf8f5;
  --card: #2c2416;
  --card-foreground: #faf8f5;
  --popover: #2c2416;
  --popover-foreground: #faf8f5;
  --primary: #e67e22;
    --secondary: #7f8c5e;
  --primary-foreground: #ffffff;
  --secondary-foreground: #ffffff;
  --muted: #3a3226;
  --muted-foreground: #b8b4ae;
  --accent: #3a3226;
  --accent-foreground: #faf8f5;
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: rgba(127, 140, 94, 0.2);
  --input: #3a3226;
  --input-background: #2c2416;
  --ring: #e67e22;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: #2c2416;
  --sidebar-foreground: #faf8f5;
  --sidebar-primary: #e67e22;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #3a3226;
  --sidebar-accent-foreground: #faf8f5;
  --sidebar-border: #3a3226;
  --sidebar-ring: #e67e22;
  --bright:#7f8c5e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-input-background: var(--input-background);
  --color-switch-background: var(--switch-background);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-bright:var(--bright);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/**
 * Base typography. This is not applied to elements which have an ancestor with a Tailwind text class.
 */
/* @layer base {
  :where(:not(:has([class*=" text-"]), :not(:has([class^="text-"])))) {
    h1 {
      font-size: var(--text-2xl);
      color: #d4183d;
      line-height: 1.5;
      font-weight: bold;
    }

    h2 {
      font-size: 100px;
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    h3 {
      font-size: var(--text-lg);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    h4 {
      font-size: var(--text-base);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    p {
      font-size: var(--text-base);
      font-weight: var(--font-weight-normal);
      line-height: 1.5;
    }

    label {
      font-size: var(--text-base);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    button {
      font-size: var(--text-base);
      font-weight: var(--font-weight-medium);
      line-height: 1.5;
    }

    input {
      font-size: var(--text-base);
      font-weight: var(--font-weight-normal);
      line-height: 1.5;
    }
  }
} */

html {
  font-size: var(--font-size);
}


.cheif-scroll::-webkit-scrollbar{
  width: 7px;
  background: var(--card);
}
.cheif-scroll::-webkit-scrollbar-thumb{
  background: var(--muted-foreground);
  border-radius: 4px;
}